.title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #666666;
}

.page {
    margin-bottom: 50px;
}

.name {
    color: black;
}