.page {
    padding-top: 40px;
    padding-bottom: 40px;

}

.text {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 19px;
    color: #000000;
    width: 200px;
}

input {outline:none;}

.inp {
    font-size: 16px;
    padding-left: 12px;
    width: 335px;
    height: 31px;
    margin-left: 50px;
}

.select {
    width: 343px;
    height: 37px;
    margin-left: 50px;
}

.textActive {
    color: red;
}

.block {
    display: flex;
    align-items: center;
}

.checkBox {
    width: 16px;
    height: 16px;
    margin-left: 50px;
}

.checkBox:active {
    background: white;
}

.info {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 19px;
    color: #000000;
    margin-left: 10px;
}

.btn {
    margin-top: 30px;
    width: 119px;
    height: 40px;
    background: #71C838;
    box-shadow: 0 1px 0 #539D22;
    color: white;

    font-family: 'Arial', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}