h2 {
    margin: 0;
}

.page {
    padding-top: 40px;
    border-bottom: 1px solid #E5E4E4;
}

.pageSub {
    padding-top: 40px;
}

.error {
    position: absolute;
    color: red;
    font-size: 12px;
}

.mainPage {
    border-bottom: 1px solid #E5E4E4;
}

.name {
    color: black;
}

.title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #666666;
    margin-bottom: 45px;
}

select {outline:none; cursor: pointer;}

.select {
    width: 352px;
    height: 37px;
    padding-left: 12px;
    font-size: 16px;
}

.checkBox {
    max-width: 16px;
    height: 16px;
    margin-left: 50px;
    cursor: pointer;
}

.checkBox:active {
    background: white;
}

.info {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    left: 345px;
    bottom: 270px;
}

.now {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

button {cursor: pointer;}

.btn {
    margin-right: 20px;
    max-width: 119px;
    height: 40px;
    background: #71C838;
    box-shadow: 0 1px 0 #539D22;
    color: white;

    font-family: 'Arial', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.btnBlock {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 630px) {
    .page {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .inp {
        font-size: 14px;
        padding-left: 12px;
        max-width: 133px;
        height: 25px;
        margin: 0 0 0 0;
    }

    .select {
        max-width: 150px;
        height: 31px;
        margin: 0 0 0 0;
    }

    .error {
        margin: 0;
    }

    .checkBox {
        max-width: 16px;
        height: 16px;
        margin:  0 0 0 0;
        cursor: pointer;
    }

    .info {
        font-size: 13px;
        margin: 0 10px;
        max-width: 150px;
    }

    .btn {
        margin-right: 10px;
        max-width: 100px;
        height: 40px;
        font-size: 16px;
    }

    .btnBlock {
        display: flex;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 910px) {
    .btnBlock {
        display: flex;
        justify-content: flex-start;
    }
}